body {
    /* margin-left: 40%; */
  background-size: cover;
  background-attachment: fixed;
  background-image: url("../imagenes/conjunto-herramientas-manicura-cuidado-sobre-fondo-rosa_183793-361.avif");
  color: rgb(244, 247, 242);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12px;
/* justify-content: center; */
}
.container{
padding: 50px;

}

p {
  color: black;
}


.img {
  height: 20px;
}

.uñas {
  height: 15rem;
  width: 15rem;
}

.circulo{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  
  } 
.botonInicio{
position:fixed;
background-color: blue;
right: 10px;
bottom: 10px;
border-radius: 10px;
}
.botonInicio a{
  color: aliceblue;
}

