.navbar {
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}
.b {
  font-size: 30px;
  font-family: "Kanit", sans-serif;
  background: linear-gradient(
    to bottom right,
    rgba(236, 241, 140, 0.8),
    rgba(179, 80, 240, 0.8)
  );
  padding: 10px;
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  color: var(--leterTitle--violeta);
}

.link {
  display: flex;
  align-items: center;;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  font-size: 20px;
  font-family: "Kanit", sans-serif;
  background-color: var(--bg--violeta);
}

.link a {
  color: var(--about--fucsia);
  text-decoration: none;
  transition: transform 0.4s ease;
}
.link a:hover {
  animation: brillo 0.5s infinite alternate;
  color: rgba(243, 238, 90, 0.8);
  transform: scale(1.1);
}

@keyframes brillo {
  from {
    filter: brightness(50%);
  }
  to {
    filter: brightness(200%);
  }
}
