.mapa {
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
.ubi {
  text-align: center;
  border: 3px solid var(--leter-violeta);
  height: 20rem;
  width: 20rem;
}
