.mapa {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.ubi {
  margin-top: 1rem;
  border: 3px solid var(--leter-violeta);
  height: 20rem;
  width: 20rem;
}
.ubi:hover {
  transform: scale(1.1);
   filter: drop-shadow(8px 8px 3px var(--bg--violeta));
} 
